<div class="user-avatar"></div>

{{!--
  *** TEST CASE - ignore ***

  Test cases:
    - div has "user-avatar" class which is not a full name of "user/user-avatar" component
      (even if it was, it shouldn't be treated as an occurrence)
--}}